<div class="card-shadow rounded-2xl p-2 bg-cover bg-center h-96 relative overflow-hidden"
     style="background-image: url(https://images.unsplash.com/photo-1545209536-c79b0603d7ad?w=800&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjd8fGxhdWdoaW5nfGVufDB8fDB8fHww&quot;);">
    <div class="h-full flex">
        <div class="leading-none p-4 rounded-2xl mt-auto mb-2 text-4xl font-semibold tracking-tight text-white border w-full bg-opacity-80 backdrop-filter backdrop-blur-sm"
             style="background-color: rgba(111, 129, 10, 0.8); border-color: rgb(148, 170, 6);"> Create<br> color
            scales<br> in seconds.
        </div>
    </div>
</div>
