<div class="card-shadow rounded-2xl p-2 bg-cover bg-bottom h-96 relative overflow-hidden">
    <div class="absolute inset-0" style="background-color: rgb(247, 254, 152);">
        <div class="absolute rounded-full z-0"
             style="width: 26rem; height: 26rem; top: 2rem; right: 6rem; background-position: 25% -83%; background-size: 90%; transform: translate(50%, -50%); background-image: url(https://images.unsplash.com/photo-1603208636525-8825c33ed34b?w=800&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODd8fGxhdWdoaW5nfGVufDB8fDB8fHww&quot;);"></div>
        <div class="absolute rounded-full"
             style="width: 22rem; height: 22rem; top: 2rem; right: 6rem; border: 25px solid rgb(247, 254, 152); transform: translate(50%, -50%);"></div>
        <div class="absolute rounded-full"
             style="width: 14rem; height: 14rem; top: 2rem; right: 6rem; border: 25px solid rgb(247, 254, 152); transform: translate(50%, -50%);"></div>
        <div class="h-full flex">
            <div class="leading-none p-6 rounded-2xl mt-auto mb-2 text-4xl font-semibold drop-shadow-sm tracking-tight"
                 style="color: rgb(39, 48, 3);"> Create<br> <span
                    style="color: rgb(148, 170, 6);">color scales<br></span>
                in seconds.
            </div>
        </div>
    </div>
</div>
